#header {
  background-color: #99FFCC;
  color: #000;
  border: 2px solid #000;
}
#header a {
  color: #000;
  padding-left: 20px;
}
#navigator {
  width: 100%;
  background-color: #99FFCC;
  border: 2px solid #000;
}
#navigator div {
  display: inline-block;
  width: 30vw;
  text-align: center;
  color: #000;
  margin: 10px;
  cursor: pointer;
  cursor: hand;
}
#navigator div{
  border-right: 1px solid #000;
}
#navigator div:last-child {
  border-right: none;
}
#preContent {
  text-align: center;
}
.frontPagePopFrame {
  display: inline-block;
  width: 266px;
  margin-left: 25px;
  margin-right: 25px;
}
.frontPagePopFrameText p {
  text-align: center;
}
#preContent {
  margin-top: 20px;
}
.circle p {
  text-align: center;
}
.circle img {
  display: block;
  margin: 0 auto;
}
.preContent a {
  float: left !important;
}
#rightNews {
  float: right;
}
.userCollectionWishlistBox a.btn {
  margin: 10px;
  font-size: 14px;
  text-align: center;
}
.userCollectionWishlistBox {
  text-align: center;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modalBtn {
  vertical-align: middle;
  width: 240px;
  margin-top: 15px;
}

